{% extends "base.html" %}
{% load static wagtailcore_tags frontend_tags wagtailsearchpromotions_tags %}
{% block body_class %}template-searchresults{% endblock %}
{% block breadcrumb %}
  {% include 'search/breadcrumb.html' %}
{% endblock %}
{% block title %}Search{% endblock %}
{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-full">
      <h1 class="nhsuk-heading-l">Search results for: Condition</h1>
    </div>
  </div>
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-one-third">
      <h2 class="nhsuk-heading-xs"></h2>
    </div>
    <div class="nhsuk-grid-column-two-thirds">
      {% include "partials/nhs_components/search_results_bar.html" %}
    </div>
  </div>
  <div class="nhsuk-grid-row nhsuk-u-margin-top-8">
    <div class="nhsuk-grid-column-one-third">
      <h2 class="nhsuk-heading-xs">Filters</h2>
      {% include 'partials/nhs_components/search_content_type.html' %}
    </div>
    {# body#}
    <div class="nhsuk-grid-column-two-thirds">
      <div class="search-results-heading">
        {% include 'partials/nhs_components/select_search_results_by_order.html' %}
        {% include 'partials/nhs_components/promoted_search-content.html' %}
      </div>
      <div class="search-results">
        <ul class="nhsuk-list nhsuk-list--border">
          {% for result in search_results %}
            <li class="nhsuk-panel nhsei-panel-search-result">
              {% get_content_type_tag result %}
              <h2 class="nhsuk-u-margin-bottom-1 nhsuk-heading-s">
              <a href="{% pageurl result %}">{{ result.title|truncatewords:"16" }}</a></h2>
              <div class="nhsuk-body-s">
                {{ result.specific.body|truncatewords_html:"20"|richtext|striptags }}
              </div>
              <div class="nhsuk-body-s">
                Published: {{ result.first_published_at|date:'d F Y' }} - <em>Latest version
                {{ result.latest_revision_created_at|date:'d F Y' }}</em><br>
              </div>
            </li>
          {% endfor %}
        </ul>
      </div>
      {% include 'partials/nhs_components/pagination.html' %}
    </div>
  {% endblock %}
