{% extends "base.html" %}
{% load wagtailcore_tags %}
{% block body_class %}template-basepage{% endblock body_class %}
{% block content %}
<div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-full">
        <h1>{{ self.title }}</h1>
    </div>
</div>
<div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">
        {% if object_list %}
            <ul>
                {% for category in object_list %}
                    <li><a href="{% url 'category-detail' category.slug %}">{{ category.name }}</a></li>
                {% endfor %}
            </ul>
        {% else %}
            <p>There are currently no categories to display.</p>
        {% endif %}
    </div>
</div>
{% endblock content %}
