// Import NHS.UK frontend library
// @import 'node_modules/nhsuk-frontend/packages/nhsuk';

// Components that are not in the NHS.UK frontend library
// @import 'components/panel-confirmation';
// @import 'components/phase-banner';
// @import 'components/related-nav';
// @import 'components/tag';

// @import 'components/tabs';

// @import 'components/nav-v1';

///////////////////////////////////////////
// Add your custom CSS/Sass styles below...
///////////////////////////////////////////

//visually hidden
.nhsuk-visually-hidden {
  position: absolute !important;
  width: 1px !important;
  height: 1px !important;
  margin: 0 !important;
  padding: 0 !important;
  overflow: hidden !important;
  clip: rect(0 0 0 0) !important;
  -webkit-clip-path: inset(50%) !important;
  clip-path: inset(50%) !important;
  border: 0 !important;
  white-space: nowrap !important;
}
.nhsuk-grid-row.full-width {
  border-top: 1px solid white;
}

.nhsuk-width-container {
  @media (min-width: 1024px) {
    padding-left:20px;
    padding-right:20px;
  }
}



.nhsuk-header__container  {
  @media (max-width: 40.0525em) {
    .nhsuk-header__container {
        padding: 16px !important;
    }
  }

}

.nhsuk-width-container {
    max-width: 1200px;
}
.nhsuk-image {
  width: 100%;
}
.nhsuk-main-wrapper {
  padding-top: 0px;
  background-color: white;
}

.nhsei-featured-section {
  .nhsuk-image {
    margin-top: 0;
  }
}

.nhsei-latest-news {
  background-color: $color_nhsuk-grey-4;
}

.nhsuk-footer__list.nhsie-footer-menu {
  @include nhsuk-responsive-padding(4, "bottom");
  @include nhsuk-responsive-margin(4, "bottom");

  .nhsuk-footer__list-item {
    @include nhsuk-typography-responsive(19);
    .nhsuk-footer__list-item-link {
      @include nhsuk-link-style-default;
      &:visited {
        // color:
      }
    }
  }
}

.nhsuk-breadcrumb {
  border-top: 2px solid $color_nhsuk-grey-4;
}

.nhsie-search-result-item {
  background-color: $color_nhsuk-white;
  padding: 1em 1em 0.25em 1em;

  .nhsie-result-meta {
    padding-right: 0.5em;
  }
}

.nhsuk-promo__img, img {
  max-width: 100%;
  height: auto;
}

.nhsuk-header__logo .nhsuk-logo.nhsei-logo{
  height: 50px;
  width: 100px;
}

a:visited {
  color: #005eb8;
}

.nhsuk-grid-column-one-quarter.content_nav {
  padding-left:0px;
  nav a {
    margin-bottom: 15px;
    font-size: 18px;
  }
}

//blog
.blog_page {
  .nhsuk-image {
    @media (min-width:741px){
      margin-top: 25px;
    }
  }
  .nhsuk-image__img {
    display: block;
    @media (min-width:741px){
      width: 90%;
    }
  }
}

.current_page_item {
  font-weight: bold;;
}

.parent_page_item {
  position: relative;
  border-bottom: 1px solid #000;
  padding-bottom: 10px;
  margin-bottom: 15px;
  padding-left: 20px;
  font-weight: normal;
  svg {
    width: 24px;
    vertical-align: middle;
    padding-left: 0;
    position: absolute;
    left:-6px;
    top:4px;
  }

  a {
    color: #000;
    margin-bottom: 0 !important;
    font-size: 22px !important;
  }
}

.component-promos.has-three-items {
  .nhsuk-image__img {
     @media (min-width:740px) {
      max-height:136px;
    }
  }
}

.category-latest {

  svg {
    width: 16px;
    height: 16px;
    top: 2px;
    position: relative;
    margin: 0 5px 0 0;
  }

  span.post-author {
      padding-left: 20px;
  }
  a.nhsuk-body-m {
    color: $nhsuk-link-color;
    @media (max-width:740px) {
      font-size:19px;
    }
  }

  .float-right {
    float:right;
  }

  .item-card {
    @media (min-width:740px) {
      border-right: 1px solid $nhsuk-border-color;
    }
    @media (max-width:740px) {
      border-bottom: 1px solid $nhsuk-border-color;
      display: block;
    }
    &:last-child {
      border: none;
    }
    h3 {
      @media (max-width:740px) {
        margin-top: 32px;
      }
    }
  }

  .nhsuk-grid-row{
    display: flex;
    flex-wrap: wrap;
  }
}


.nhsuk-grid-row {
    margin-left:0px;
    margin-right:0px;
}


.nhsuk-grid-column-two-thirds, .nhsuk-grid-column-full, .nhsuk-grid-column-one-third, .nhsuk-grid-column-three-quarters {
    padding-right:16px;
    padding-left:0;
}

//landing page

.item-card:nth-of-type(2), .item-card:nth-of-type(3) {
  @media (min-width:740px) {
    padding-left:16px;
  }
}

.item-card {
  @media (max-width:740px) {
    padding-bottom:32px;
    width: 100%;
  }
}








