.nhsuk-main-wrapper {
    background-color: white;
    overflow:auto;
}
.browse {
  position:relative;
}
//visually hidden
.nhsuk-visually-hidden {
  position: absolute !important;
  width: 1px !important;
  height: 1px !important;
  margin: 0 !important;
  padding: 0 !important;
  overflow: hidden !important;
  clip: rect(0 0 0 0) !important;
  -webkit-clip-path: inset(50%) !important;
  clip-path: inset(50%) !important;
  border: 0 !important;
  white-space: nowrap !important;
}
// first col
@media (min-width:641px){
  .browse--two-columns.browse__root-pane {
    display: block;
    width: 25%;
    margin-right: 0;
  }
}

.browse__list {
  padding: 0;
  margin: 0;
  list-style: none;
  .browse__link {
    text-decoration: underline;
    text-decoration-thickness: max(1px, 0.0625rem);
    text-underline-offset: 0.1em;
    position: relative;
    display: block;
    padding: 15px 25px 20px 15px;
    color: #505a5f;
  }
  .browse__link--active {
    background: #1d70b8;
    color: #fff;
  }
  .browse__link:hover {
      text-decoration-thickness: max(3px, 0.1875rem, 0.12em);
      text-decoration-skip-ink: none;
      text-decoration-skip: none;
  }
  .browse__link:focus {
      outline: 3px solid transparent;
      color: #0b0c0c;
      background-color: #fd0;
      box-shadow: 0 -2px #fd0, 0 4px #0b0c0c;
      text-decoration: none;
  }
  .browse__link:focus:hover {
    box-shadow: 0 -2px #f3f2f1, 0 3px #0b0c0c;
    color: #0b0c0c;
  }
  .browse__link:hover {
    background: #f3f2f1;
    color: #1d70b8;
  }
  .browse__link:after {
    position: absolute;
    top: 50%;
    margin-top: -8px;
    right: 10px;
    float: right;
    content: "\203A";
  }
}

// second column
.browse__section-pane {
  z-index: 2;
  background: #fff;
  position: relative;
  transition: width .4s,margin-left .4s;
  @media (min-width:641px){
    width: 35%;
    .browse__section-pane .browse__heading {
      padding-left: 15px;
    }
  }
}
.browse__heading {
  font-weight: 700;
  font-size: 18px;
  margin-bottom: 10px;
  margin-top: 10px;
  outline: none;
  @media (min-width:641px){
    margin-top: 0;
    margin-bottom: 15px;
    font-size: 27px;
  }
}

.browse__inner {
    padding-bottom: 30px;
    @media (min-width:641px){
      padding-left: 30px;
    }
}


@media (min-width:641px){
  .browse__root-pane, .browse__section-pane, .browse__subsection-pane {
    float:left;
    min-height: 3px;
  }
}

//third column
.browse--three-columns .browse__subsection-pane {
  transition-delay: 0s,.4s,0s;
  opacity: 1;
  height: auto;
  @media (min-width:641px){
    width: 50%;
    margin-right: 13%;
  }
}

.browse__subsection-pane {
  //opacity: 0;
  transition-property: width, opacity, margin-right;
  transition-delay: 0s, 0s, 0s;
  transition-duration: .4s,0s,.4s;
  height: 0;
  overflow: hidden;
  @media (min-width:641px){
    width: 27%;
    margin-right: 13%;
    height: auto;
  }
}

