#mega-menu {

  .corporate-wrapper {
    margin-top: 20px;
    margin-left: 20px;
    border-right: 1px solid black;
    float: left;

    .corporate {
      border-top: 1px solid black;

      ul {
        list-style-type: none;
        margin: 0;
        padding: 20px 300px 0px 0px;
        font-weight: bold;
      }
    }
  }

  .main-menu-wrapper {
    margin-top: 20px;
    margin-left: 20px;
    float: left;

    .main-menu-links {
      border-top: 1px solid black;

      ul {
        list-style-type: none;
        margin: 0;
        padding: 20px 300px 0px 0px;
        font-weight: bold;
      }
    }
  }
}

