//header
.template-searchresults {
  .nhsuk-header__search {
    display: none;
  }
}

//search bar
.nhs-search__input {
  width: 70%;
  float: left;
}

.nhs-search__button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  cursor: pointer;
  border: 0;
  border-radius: 0;
  padding:11px;
  background: #005eb8;
  font-size: 18px;
  color: #e8edee;
  transition: all 0.2s ease-in-out;
  line-height: 1;
  width: 29%;
  float: right;
}

// sort by drop down

legend.sort_by.nhsuk-fieldset__legend.nhsuk-fieldset__legend--xs {
    float: left;
    font-weight: bold;
    padding-right: 15px;
}

fieldset.sort_by_nhsuk-fieldset.nhsuk-fieldset {
    float: right;
}

.search-results-heading {
  .search-results-heading__title {
    @include nhsuk-responsive-margin(3, 'bottom');
  }
  .search-results-heading__details {
    @include nhsuk-responsive-padding(2, 'bottom');

    &::after {
      clear: both;
      content: "";
      display: table;
    }
  }
}

.nhsuk-list {
  .nhsuk-panel.nhsei-panel-search-result {
    @include nhsuk-responsive-margin(3, 'top');
    padding: 16px 0;
  }
}

.nhsei-panel-search-result {
  .nhsuk-tag {
    @include nhsuk-responsive-margin(2, 'bottom');
  }
}

//Promoted search results
.nhsei-notification-banner {
    margin-bottom: 50px;
    font-size: 19px;
    font-weight: 400;
    margin-bottom: 30px;
    border: 5px solid $color_nhsuk-blue;
    background-color: $color_nhsuk-blue;
}

.nhsei-notification-banner__header {
    padding: 2px 20px 5px;
    border-bottom: 1px solid transparent;
}
.nhsei-notification-banner__heading {
  color: $color_nhsuk-blue;
}
.nhsei-notification-banner__title {
    font-size: 19px;
    font-weight: 700;
    color:$color_nhsuk-white;
    padding: 5px 0px;
    margin: 0;
}
.nhsei-notification-banner__content {
    color:$nhsuk-text-color;
    padding: 20px;
    background-color:$color_nhsuk-white;
}

// filter
.filter-title {
  position: relative;
  padding-right: 50px;
  width:100%;
  margin: 0;
  border-bottom: 1px solid black;
  button {
    z-index: 1;
    background: none;
    border: 0;
    text-align: left;
    padding: 0;
    cursor: pointer;
    color: black;
    font-weight:700;
    margin: 0;
    font-size:19px;
  }
}
.filter-select__icon {
  display: none;
  position: absolute;
  top: 4px;
  right: 9px;
  width: 30px;
  height: 40px;
  fill: #0b0c0c;
}
[aria-expanded=true]~.filter-select__icon--up {
    display: block;
}
[aria-expanded=false]~.dm-option-select__icon--down {
    display: block;
}

.show-checkbox {
  label {
    font-size:17px;
  }
  h2 {
    margin-bottom:0;
    clear: both;
    display: inline-block;
  }
  .nhsuk-radios__conditional {
    margin-bottom: 16px;
    margin-left:0;
    padding-left:0px;
    border: 0;
    .nhsuk-form-group {
      padding-left:25px;
      margin-left:2px;
      border-left: 2px solid #bfcad2;
    }
  }
}
.nhsuk-filter-selected {
  font-size:14px;
  margin-bottom: 16px;
  color:$nhsuk-secondary-text-color;
}
.nhsuk-filter-clear {
  float: right;
  font-size: 14px;
  display: block;
  margin-bottom: 16px;
}

.filter-date-range {
  label, input, #published-hint {
    font-size:17px;
  }
  .published-label {
    font-weight:bold;
  }
}

.full-width {
  margin-left:0px;
  margin-bottom:0px;
}
