{% load menu_tags %}
{% if menu_items %}
  {% for item in menu_items %}
    <li>
      <a
        {% if item.has_children_in_menu %}
          aria-haspopup="true"
        {%endif%}
        href="{{ item.href }}" class="menu-link mega-menu-link" >
          {{item.text}}
      </a>
	    {% if item.has_children_in_menu %}
       <ul class='menu menu-list menu-multiColumn'>
       {% sub_menu item template=current_template %}
       </ul>
      {% endif %}
    </li>
  {% endfor %}
  <li class="mobile-menu-back-item" class="menu-link mega-menu-link">
    <a href="javascript:void(0);" class="menu-link mobile-menu-back-link">Back</a>
  </li>
{% endif %}
