{% load menu_tags %}

{# https://github.com/dxw/nhs-ei.website/tree/2cff9befcc22b84afcbcde7235a79953cbfb1df5 <- last commit with previous nav template #}

{% if menu_items %}
  {% for item in menu_items %}
    <li>
      <a
        {% if item.has_children_in_menu %}
          aria-haspopup="true"
        {%endif%}
        href="{{ item.href }}">
          {{item.text}}
      </a>
	    {% if item.has_children_in_menu %}
       <ul>
       {% sub_menu item template=current_template %}
       </ul>
      {% endif %}
    </li>
  {% endfor %}
{% endif %}
