project                       = "nhsei"
azure_region                  = "uksouth"
virtual_network_address_space = "10.0.0.0/16"
custom_apex_domain            = "example.net"
cdn_hostname                  = "example.com"
letsencrypt_email             = "hello@example.net"
letsencrypt_server            = "https://acme-v02.api.letsencrypt.org/directory"
acr_options = {
  name           = "nhseiwebsite"
  resource_group = "nhsei-website-container"
}
web_image_tag = "sha-123"
web_environment_variables = {
  email_url = "smtp://user@:password@localhost:25"
  default_from_email = "web@example.com"
  server_email = "web-server@example.com"
  wagtail_search_urls = "http://elasticsearch:9200"
  allowed_hosts = "example.com,example-2.com"
  basic_auth_password = "secret"
}
aks_version = "1.21.9"
aks_vm_size = "Standard_DS2_v2"
aks_node_counts = {
  count = 2
  min   = 1
  max   = 4
}
aks_availability_zones = [1, 2, 3]
aks_api_authorized_ip_ranges = []
aks_api_allow_public = true
