{% extends "base.html" %}
{% load wagtailcore_tags %}
{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-full last-publication">
      <div class="nhsuk-review-date">
        <h1>Next steps for the NHS COVID-19 vaccination programme planning
        and delivery {{ self.title }}</h1>
        <div id="see-all-updates" class="nhsuk-review-date last-publication nhsuk-body-s">
          <strong>Date published:</strong> {{ self.first_published_at|date:'d M Y' }}<br>
          <strong>Date Last updated:</strong> {{ self.latest_revision_created_at|date:'d M Y' }}
          <details class="nhsuk-details">
          <summary class="nhsuk-details__summary nhsuk-u-margin-top-1">
          <span class="nhsuk-details__summary-text">
            Show all updates
          </span>
          </summary>
          <div class="nhsuk-details__text">
            <h2>Page updates</h2>
            <h3>30 November 2021</h3>
            <p>Added a new section on standard operating procedures for primary care. Made corrections to paragraph 3 of the ‘community transmission’ section in line with new government guidance. Minor updates to protocols.</p>
            <h3>13 November 2021</h3>
            <p>Foreword updated with an introduction from David Fitzgerald, programme director for the NHS Cancer programme. Information added following the launch of ‘Help us, help you’ campaign. Update to statistics (page 3) of people who have started cancer treatment since the pandemic began.</p>
            <h3>4 August 2021</h3>
            <p>Investing in our cancer workforce: Update to costings following recently published Government guidance. (Pg 3, paragraph 4).
              <p>Help us, Help you: Change of web address (Pg 6, paragraph 7).</p>
              <p>Quality of life metric: Updated version following publication of National Cancer Report (pg 19).</p>
              <p>Patient shaping services: Patient and public forum: Update to contact details (pg 14, paragraph 6).</p>
            </div>
            </details>
          </div>
        </div>
        <div class="nhsuk-u-reading-width">
          <div class="nhsuk-body-s">
            {% for category in self.categorypage_category_relationship.all %}
              <a href="{{ self.get_parent.url }}?category={{ category.category.id }}">{{ category.category }}</a>
            {% endfor %} <br>
            <strong>Content type:</strong> Publication (guidance)
            {% for publication_type in self.publication_publication_type_relationship.all %}
              <a href="{{ self.get_parent.url }}?publication_type={{ publication_type.publication_type.id }}">{{ publication_type.publication_type }}</a>
            {% endfor %}
          </div>
        </div>
      </div>
      </div>
      <hr>
      {% include "partials/nhs_components/document-container.html" %}
        {% endblock content %}
