{% extends "base.html" %}
{% load wagtailcore_tags %}

{% block content %}

<article class="nhsuk-width-container">
	<div class="nhsuk-grid-row blog_page">
		<div class="nhsuk-grid-column-two-thirds">
			<h1>{{ self.title }}</h1>
			{{ self.body|richtext }}
		</div>
		<div class="nhsuk-u-reading-width">
			{% if self.categorypage_category_relationship %}
			<div class="nhsuk-body-s">
				Categories:
				{% for category in self.categorypage_category_relationship.all %}
					<a href="{{ self.get_parent.url }}?category={{ category.category.id }}">{{ category.category }}</a>
				{% endfor %}
			</div>
			{% endif %}
			<div class="nhsuk-review-date">
				<div class="nhsuk-body-s">
					Published: {{ self.first_published_at|date:'d M Y' }}
				</div>
				{% if self.last_published_at != self.first_published_at %}
					<div>
						Updated on: {{ self.last_published_at|date:'d M Y' }}
					</div>
				{% endif %}
				{% comment %}
					| Author: {{ self.author }} <i>we are missing the ability to match ID to
					a name</i>
				{% endcomment %}
			</div>
		</div>
	</div>
</article>
{% endblock content %}
