{% extends "base.html" %}
{% load wagtailcore_tags %}

{% block content %}

<article class="nhsuk-width-container">
	<div class="nhsuk-grid-row blog_page">
		<div class="nhsuk-grid-column-two-thirds">
			<h1>{{ self.title }}</h1>
			{{ self.body|richtext }}
		</div>
		<div class="nhsuk-grid-column-one-third">
			<div class="nhsuk-review-date">
				<div class="nhsuk-body-s">
					<strong>Published:</strong> {{ self.first_published_at|date:'d M Y' }} <br>
					{% if self.categorypage_category_relationship %}
						<strong>Categories: </strong>
						{% for category in self.categorypage_category_relationship.all %}
							<a href="{{ self.get_parent.url }}?category={{ category.category.id }}">{{ category.category }}</a>
						{% endfor %}
					{% endif %}<br>
					<strong>Content type: </strong><a href="{{ self.get_parent.url  }}">News</a>
				</div>
			</div>
		</div>
		<div class="content_nav">
			<h2>Latest news</h2>
			<!-- The related content feature hasn't be implemented yet - plug this in here once it has been done -->
			<!-- <nav>
				<a href="">Preparing for roving and mobile vaccination</a>
				<a href="">Roving and mobile operating models</a>
				<a href="">Vaccination of children and young people</a>
			</nav> -->
		</div>
	</div>
</article>
{% endblock content %}
