
{% load browse_tags %}
{% load menu_tags %}

    <div id="section" class="browse__section-pane">
      <div class="browse__inner browse__inner--curated">
        <h2 tabindex="-1" class="browse__heading">Viewing: {{ section_item.text }}</h2>
        <ul class="browse__list">
          <li>
              <a class="browse__link" href="{{ item.href }}">
                <h3 class="browse__title">{{ section_item.text }}</h3>
                <p class="browse__description">{{ section_item.caption }}</p>
              </a>
          {% for item in menu_items %}
            <li>
              <a class="browse__link {% if item.href|cut:"/" == branch %}browse__link--active{% endif %}" href="{% url 'browse_leaf' section=section branch=item.href|cut:"/" %}">
                <h3 class="browse__title">{{ item.text }}</h3>
                <p class="browse__description">{{ item.id|get_caption }}</p>
              </a>
            </li>
          {% endfor %}
      </ul>
  </div>
</div>
{% for item in menu_items %}
  {% if branch and branch == item.href|cut:"/" and item.has_children_in_menu %}
    {%  with branch_item=item %}
      {% sub_menu item template="browse/leaf.html" %}
    {%  endwith %}
  {% endif %}
{% endfor %}



