
{% load browse_tags %}
{% load menu_tags %}

    <div id="section" class="browse__section-pane">
      <div class="browse__inner browse__inner--curated">
        <h2 tabindex="-1" class="browse__heading">h2 header</h2>
        <ul class="browse__list">
          {% for item in menu_items %}
            <li>
              <a href="{% url 'browse_leaf' section=section branch=item.href|cut:"/" %}">{{ item.text }}</a>
              <span>{{ item.id|get_caption }}</span>
            </li>
          {% endfor %}
      </ul>
  </div>
</div>

{% for item in menu_items %}
  {% if branch and branch == item.href|cut:"/" and item.has_children_in_menu %}
    {% sub_menu item template="browse/leaf.html" %}
  {% endif %}
{% endfor %}
