{% load static %}
<section class="attachment">
   <div class="attachment-thumb">
     <a aria-hidden="true" class="thumbnail" tabindex="-1" href="#">
     <img alt="" src="{% static 'img/' %}{{ext_icon}}"></a>
   </div>
   <div class="attachment-details">
     <h3 class="title"><a href="{{value.document.url}}">{{value.title}}</a></h3>
     <p class="metadata">
       <span class="type">{%if ext_name == "PDF" %}<abbr title="Portable Document Format">{{ext_name}}</abbr>{%else%}{{ext_name}}{%endif%}</span>,
       <span class="file-size">{{ file_size }}</span>.
     </p>
     {% if value.summary %}<p class="attachment-summary">{{value.summary}}</p>{% endif %}
   </div>
 </section>
