      <div class="nhsuk-grid-row">
        <div class="nhsuk-grid-column-full">
          <section id="introduction">
            <p>Details of the current priorities for the COVID-19 vaccination programme for 2022/23, based on:</p>
            <ul>
              <li>The central role of vaccination to the government’s strategy for Living with COVID-19</li>
              <li>the latest government advice to deliver a spring dose for those most at risk and to offer vaccination to five to 11-year-olds.</li>
            </ul>
          </section>

          <section id="documents" class="nhsuk-u-margin-top-6">
            <div class="nhsei-document-container">
              <section class="attachment" id="html">
                <div class="attachment-thumb">
                  <a aria-hidden="true" class="thumbnail" tabindex="-1" href="#">
                  <img alt="" src="../../../static/img/html.svg"></a>
                </div>
                <div class="attachment-details">
                  <h3 class="title"><a href="#">Planning parameters for 2022/23</a></h3>
                  <p>
                  <strong>Published 23 February 2022.</strong></p>
                </div>
              </section>
              <section class="attachment" id="PDF">
                <div class="attachment-thumb">
                  <a aria-hidden="true" class="thumbnail" tabindex="-1" href="#">
                  <img alt="" src="../../../static/img/PDF.svg"></a>
                </div>
                <div class="attachment-details">
                  <h3 class="title"><a href="#">Planning parameters for 2022/23</a></h3>
                  <p class="metadata">
                    <span class="type"><abbr title="Portable Document Format">PDF</abbr></span>, <span class="file-size">680KB</span>, <span class="page-length" lang="en">20 pages</span>
                  </p>
                  <p>
                  <strong>Published 23 February 2022.</strong></p>
                </div>
              </section>
              <section class="attachment embedded" id="doc">
                <div class="attachment-thumb">
                  <a aria-hidden="true" class="thumbnail" tabindex="-1" href="#">
                  <img alt="" src="../../../static/img/DOC.svg"></a>
                </div>
                <div class="attachment-details">
                  <h3 class="title"><a aria-describedby="attachment-accessibility-help" href="#">Guide to NHS house style</a></h3>
                  <p class="metadata">
                    <span class="type">MS Word Document</span>, <span class="file-size">568KB</span>
                  </p>
                  <p>Letter from Dame Emily Lawson, Eleanor Kelly and Dr Nikita Kanani.<br>
                  <strong>Published 23 February 2022.</strong></p>
                </div>
              </section>
              <section class="attachment embedded" id="image">
                <div class="attachment-thumb">
                  <a aria-hidden="true" class="thumbnail" tabindex="-1" href="#">
                  <img alt="" src="../../../static/img/IMG.svg"></a>
                </div>
                <div class="attachment-details">
                  <h3 class="title"><a aria-describedby="attachment-accessibility-help" href="#">Next steps for the NHS COVID-19 vaccination programme planning and 
delivery</a></h3>
                  <p class="metadata">
                    <span class="type">Image</span>, <span class="file-size">648KB</span>
                  </p>
                  <p>Lorem ipsum dolor sit amet retn<br>
                  <strong>Published 23 February 2022.</strong></p>
                </div>
              </section>

              <section class="attachment embedded" id="sheet">
                <div class="attachment-thumb">
                  <a aria-hidden="true" class="thumbnail" tabindex="-1" href="#">
                  <img alt="" src="../../../static/img/spreadsheet.svg"></a>
                </div>
                <div class="attachment-details">
                  <h3 class="title"><a aria-describedby="attachment-accessibility-help" href="#">Cold weather alert: Level 2 – alert and readiness</a></h3>
                  <p class="metadata">
                    <span class="type">Spreadsheet</span>, <span class="file-size">800KB</span>
                  </p>
                  <p>Lorem ipsum dolor sit amet retn<br>
                  <strong>Published 23 February 2022.</strong></p>
                </div>
              </section>
              <section class="attachment embedded" id="archive">
                <div class="attachment-thumb">
                  <a aria-hidden="true" class="thumbnail" tabindex="-1" href="#">
                  <img alt="" src="../../../static/img/ZIP.svg"></a>
                </div>
                <div class="attachment-details">
                  <h3 class="title"><a aria-describedby="attachment-accessibility-help" href="#">NHS invites 12-15s to grab a jab at half term</a></h3>
                  <p class="metadata">
                    <span class="type">ZIP</span>, <span class="file-size">60KB</span>
                  </p>
                  <p>Lorem ipsum dolor sit amet retn<br>
                  <strong>Published 23 February 2022.</strong></p>
                </div>
              </section>
              <section class="attachment embedded" id="ppt">
                <div class="attachment-thumb">
                  <a aria-hidden="true" class="thumbnail" tabindex="-1" href="#">
                  <img alt="" src="../../../static/img/PPT.svg"></a>
                </div>
                <div class="attachment-details">
                  <h3 class="title"><a aria-describedby="attachment-accessibility-help" href="#">NHS publishes electives recovery plan to boost capacity and 
give power to patients</a></h3>
                  <p class="metadata">
                    <span class="type">PPT</span>, <span class="file-size">147KB</span>
                  </p>
                  <p>Lorem ipsum dolor sit amet retn<br>
                  <strong>Published 23 February 2022.</strong></p>
                </div>
              </section>
            </div>
          </section>

        </div>
      </div>
