<div class="nhsuk-notification-banner" role="region" aria-labelledby="nhsuk-notification-banner-title" data-module="nhsuk-notification-banner">
  <div class="nhsuk-notification-banner__header">
    <h2 class="nhsuk-notification-banner__title" id="nhsuk-notification-banner-title">
    Suggest result
    </h2>
  </div>
  <div class="nhsuk-notification-banner__content">
    <h3 class="nhsuk-notification-banner__heading">
    Coronavirus (COVID-19) guidance for clinicians
    </h3>
    <p>These pages have links to the up-to-date guidance healthcare professionals need to
    respond to coronavirus (COVID-19).</p>
    <p>These pages have links to the up-to-date guidance healthcare professionals need to
    respond to coronavirus (COVID-19).</p>
  </div>
</div>
