{% load wagtailcore_tags wagtailsearchpromotions_tags %}
<div class="nhsei-notification-banner" role="region" aria-labelledby="nhsei-notification-banner-title"
     data-module="nhsei-notification-banner">
  <div class="nhsei-notification-banner__header">
    <h2 class="nhsei-notification-banner__title" id="nhsei-notification-banner-title">
      Suggested result
    </h2>
  </div>
  <div class="nhsei-notification-banner__content">
    <h3 class="nhsei-notification-banner__heading">
      <a class="nhsuk-card__link" href="{% pageurl search_promotion.page %}">{{ search_promotion.page.title }}</a>
    </h3>
    <p>{{ search_promotion.description }}</p>
    <p>Published: {{ search_promotion.page.first_published_at|date:'d F Y' }} - <em>Latest version
      {{ search_promotion.page.latest_revision_created_at|date:'d F Y' }}</em></p>
  </div>
</div>
