{# #}
{#TODO: add functionality to make this interactive#}
<form action="">
  <div class="nhsuk-form-group">
    <fieldset class="nhsuk-fieldset" aria-describedby="search-filter-hint">
      <legend class="nhsuk-fieldset__legend nhsuk-fieldset__legend--l filter-title nhsuk-u-margin-bottom-4">
        <h2 class="nhsuk-fieldset__heading nhsuk-heading-xs">
        <button class="" type="button" aria-expanded="true" aria-controls="content type"> Content type:</button>
      <svg version="1.1" viewBox="0 0 1024 1024" xmlns="http://www.w3.org/2000/svg" class="filter-select__icon filter-select__icon--up" aria-hidden="true" focusable="false"><path d="m798.16 609.84l-256-256c-16.683-16.683-43.691-16.683-60.331 0l-256 256c-16.683 16.683-16.683 43.691 0 60.331s43.691 16.683 60.331 0l225.84-225.84 225.84 225.84c16.683 16.683 43.691 16.683 60.331 0s16.683-43.691 0-60.331z"></path></svg>
    <svg version="1.1" viewBox="0 0 1024 1024" xmlns="http://www.w3.org/2000/svg" class="filter-select__icon filter-select__icon--down" aria-hidden="true" focusable="false"><path d="m225.84 414.16l256 256c16.683 16.683 43.691 16.683 60.331 0l256-256c16.683-16.683 16.683-43.691 0-60.331s-43.691-16.683-60.331 0l-225.84 225.84-225.84-225.84c-16.683-16.683-43.691-16.683-60.331 0s-16.683 43.691 0 60.331z"></path></svg>
    </h2>
  </legend>
  <div class="nhsuk-radios nhsuk-radios--conditional show-checkbox">
    <div class="nhsuk-radios__item">
      <input class="nhsuk-radios__input" id="search-filter-1"  name="search-filter" type="radio" value="email" aria-controls="conditional-search-filter-1" aria-expanded="false">
      <label class="nhsuk-label nhsuk-radios__label" for="search-filter-1">
        Webpage
      </label>
    </div>
    <div class="nhsuk-radios__item">
      <input class="nhsuk-radios__input" id="search-filter-2" name="search-filter" type="radio" value="phone" aria-controls="conditional-search-filter-2" aria-expanded="false">
      <label class="nhsuk-label nhsuk-radios__label" for="search-filter-2">
        News
      </label>
    </div>
    <div class="nhsuk-radios__item">
      <input class="nhsuk-radios__input" id="search-filter-3" name="search-filter" type="radio" value="text" aria-controls="conditional-search-filter-3" aria-expanded="true">
      <label class="nhsuk-label nhsuk-radios__label" for="search-filter-3">
        Blogs
      </label>
    </div>
    <div class="nhsuk-radios__item">
      <input class="nhsuk-radios__input" id="search-filter-4" name="search-filter" type="radio" value="text" aria-controls="conditional-search-filter-4" aria-expanded="true">
      <label class="nhsuk-label nhsuk-radios__label" for="search-filter-4">
        Publication
      </label>
    </div>
  </div>
</fieldset>
<div class="nhsuk-radios nhsuk-radios--conditional show-checkbox nhsuk-u-margin-top-4">
  <div class="nhsuk-radios__conditional nhsuk-radios__conditional--hidden" id="conditional-search-filter-4">
    <h2 class="nhsuk-heading-xs">Publication type:</h2><div class="nhsuk-filter-clear " id="search-filter-hint">
      <a href="#">Clear filters</a>
    </div>
    <div class="nhsuk-filter-selected" id="search-filter-hint">
      1 Selected
    </div>
    <div class="nhsuk-form-group">
      <div class="nhsuk-checkboxes" data-module="nhsuk-checkboxes">
        <div class="nhsuk-checkboxes__item">
          <input class="nhsuk-checkboxes__input" id="search-filter-4" name="search-filter" type="checkbox" value="farm">
          <label class="nhsuk-label nhsuk-checkboxes__label" for="search-filter-4">
            Household goods
          </label>
        </div>
        <div class="nhsuk-checkboxes__item">
          <input class="nhsuk-checkboxes__input" id="search-filter-4" name="search-filter" type="checkbox" value="farm">
          <label class="nhsuk-label nhsuk-checkboxes__label" for="search-filter-4">
            Household goods
          </label>
        </div>
        <div class="nhsuk-checkboxes__item">
          <input class="nhsuk-checkboxes__input" id="search-filter-4" name="search-filter" type="checkbox" value="farm">
          <label class="nhsuk-label nhsuk-checkboxes__label" for="search-filter-4">
            Household goods
          </label>
        </div>
        <div class="nhsuk-checkboxes__item">
          <input class="nhsuk-checkboxes__input" id="search-filter-4" name="search-filter" type="checkbox" value="farm">
          <label class="nhsuk-label nhsuk-checkboxes__label" for="search-filter-4">
            Household goods
          </label>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
</form>
