  <div class="nhsuk-form-group">
    <fieldset class="nhsuk-fieldset" aria-describedby="content_type-hint">
      <legend class="nhsuk-fieldset__legend nhsuk-fieldset__legend--l filter-title nhsuk-u-margin-bottom-4">
        <h2 class="nhsuk-fieldset__heading nhsuk-heading-xs">
        <button class="" type="button" aria-expanded="true" aria-controls="content type"> Content type:</button>
      <svg version="1.1" viewBox="0 0 1024 1024" xmlns="http://www.w3.org/2000/svg" class="filter-select__icon filter-select__icon--up" aria-hidden="true" focusable="false"><path d="m798.16 609.84l-256-256c-16.683-16.683-43.691-16.683-60.331 0l-256 256c-16.683 16.683-16.683 43.691 0 60.331s43.691 16.683 60.331 0l225.84-225.84 225.84 225.84c16.683 16.683 43.691 16.683 60.331 0s16.683-43.691 0-60.331z"></path></svg>
    <svg version="1.1" viewBox="0 0 1024 1024" xmlns="http://www.w3.org/2000/svg" class="filter-select__icon filter-select__icon--down" aria-hidden="true" focusable="false"><path d="m225.84 414.16l256 256c16.683 16.683 43.691 16.683 60.331 0l256-256c16.683-16.683 16.683-43.691 0-60.331s-43.691-16.683-60.331 0l-225.84 225.84-225.84-225.84c-16.683-16.683-43.691-16.683-60.331 0s-16.683 43.691 0 60.331z"></path></svg>
    </h2>
  </legend>
  <div class="nhsuk-radios nhsuk-radios--conditional show-checkbox">
    <div class="nhsuk-radios__item">
      <input class="nhsuk-radios__input" id="content_type-1"  name="content_type" type="radio" value="pages" aria-expanded="false" {% if content_type == "pages" %}checked="true"{% endif %}>
      <label class="nhsuk-label nhsuk-radios__label" for="content_type-1">
        Webpage
      </label>
    </div>
    <div class="nhsuk-radios__item">
      <input class="nhsuk-radios__input" id="content_type-2" name="content_type" type="radio" value="news" aria-expanded="false" {% if content_type == "news" %}checked="true"{% endif %}>
      <label class="nhsuk-label nhsuk-radios__label" for="content_type-2">
        News
      </label>
    </div>
    <div class="nhsuk-radios__item">
      <input class="nhsuk-radios__input" id="content_type-3" name="content_type" type="radio" value="blogs" aria-expanded="true" {% if content_type == "blogs" %}checked="true"{% endif %}>
      <label class="nhsuk-label nhsuk-radios__label" for="content_type-3">
        Blogs
      </label>
    </div>
    <div class="nhsuk-radios__item">
      <input class="nhsuk-radios__input" id="content_type-4" name="content_type" type="radio" value="publications" aria-controls="conditional-publications" aria-expanded="true" {% if content_type == "publications" %}checked="true"{% endif %}>
      <label class="nhsuk-label nhsuk-radios__label" for="content_type-4">
        Publication
      </label>
    </div>
  </div>
</fieldset>
<div class="nhsuk-radios nhsuk-radios--conditional show-checkbox nhsuk-u-margin-top-4">
  {% if content_type == "publications" %}
    <div class="nhsuk-radios__conditional" id="conditional-publications">
  {% else %}
    <div class="nhsuk-radios__conditional nhsuk-radios__conditional--hidden" id="conditional-publications">
  {% endif %}
    <h2 class="nhsuk-heading-xs">Publication type:</h2><div class="nhsuk-filter-clear " id="search-filter-hint">
      <a href="#">Clear filters</a>
    </div>
    <div class="nhsuk-filter-selected" id="search-filter-hint">
      <span id="publication-count">0</span> selected
    </div>
    <script>
      function count_checkboxes(event=null) {
        var checkboxes = document.querySelectorAll("input[name='publication_type']:checked");
        document.getElementById('publication-count').innerHTML = checkboxes.length;
      }
      document.addEventListener("change", count_checkboxes);

      count_checkboxes()
    </script>
    <div class="nhsuk-form-group">
      <div class="nhsuk-checkboxes" data-module="nhsuk-checkboxes">
        {% for pub_type in publication_types %}

        <div class="nhsuk-checkboxes__item">
          <input class="nhsuk-checkboxes__input" id="publication-type-{{pub_type.slug}}" name="publication_type" type="checkbox" value="{{pub_type.slug}}"
            {% if pub_type.slug in publication_types_checked %}checked{% endif %}
          >
          <label class="nhsuk-label nhsuk-checkboxes__label" for="publication-type-{{pub_type.slug}}">
            {{pub_type.name}}
          </label>
        </div>

        {% endfor %}

      </div>
    </div>
  </div>
</div>
</div>
