{% load menu_tags %}

<div class="nhsuk-width-container toggle-content" id="mega-menu">
  {#  Corporate container - start #}
  <div class="nhsuk-grid-row">
    <div class="corporate-wrapper nhsuk-grid-column-one-quarter">
      <div class="corporate_section">Corporate{% flat_menu handle="corporate" %}</div>
    </div>
    {#  Corporate container - end #}

    {#  Main menu conatiner - start #}
    <div class="main-menu-wrapper nhsuk-grid-column-three-quarters">
      <div class="main-menu">
        <div><div class="programme_section">Programmes</div>
          {% main_menu max_levels=5 template="partials/megamenu/navigation.html" %}</div>
      </div>
    </div>
  </div>
  {#  Main menu conatiner - end #}
</div>
